<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.mapper.BoardMapper">
	<insert id="insertBoard"> <!-- id속성은 메소드 이름 -->
		INSERT INTO board (num,name,passwd,subject,content,readcount,ip,reg_date,re_ref,re_lev,re_seq,boardtype)
		VALUES (#{num}, #{name}, #{passwd}, #{subject}, #{content}, #{readcount}, #{ip}, #{regDate}, #{reRef}, #{reLev}, #{reSeq}, #{boardtype} ) 
	</insert>
	
	<select id="getBoards" resultType="boardVo"> <!-- mybatis-config.xml 설정 전 기본값: "exam.vo.BoardVo.java" -->
	<!-- select문을 xml에서 실행할때는 resutType 속성을 반드시 해당 Vo로 지정해야함. --> 
		SELECT * 
		FROM board 
		WHERE boardtype = #{boardtype} 
		<if test="category != null and category == 'content'">
			AND content LIKE CONCAT('%', #{search}, '%') 
		</if>
		<if test="category != null and category == 'subject'">
			AND subject LIKE CONCAT('%', #{search}, '%') 
		</if>
		<if test="category != null and category == 'name'">
			AND name LIKE CONCAT('%', #{search}, '%') 
		</if>
		ORDER BY re_ref DESC, re_seq ASC 
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<select id="getTotalCount" resultType="_int"> 
		SELECT count(*) 
		FROM board
		WHERE boardtype = #{boardtype} 
		<if test="category == 'content'">
			AND content LIKE CONCAT('%', #{search}, '%') 
		</if>
		<if test="category == 'subject'">
			AND subject LIKE CONCAT('%', #{search}, '%') 
		</if>
		<if test="category == 'name'">
			AND name LIKE CONCAT('%', #{search}, '%') 
		</if>
	</select>
	
	<select id="getBoardByNum" resultType="boardVo"> 
		SELECT * 
		FROM board
		WHERE num = #{num}
	</select>
	
	<update id="updateReadcount"> <!-- resultType을 안쓰면 sql 문장 실행 후 변경된 행의 갯수를 리턴 -->
		UPDATE board 
		SET readcount = readcount + 1 
		WHERE num = #{num}
	</update>
	
	<update id="update">
		UPDATE board 
		SET name=#{name}, passwd=#{passwd}, subject=#{subject}, content=#{content}
		WHERE num = #{num}
	</update>
	
	<update id="updateReSeqByReRef">
		UPDATE board 
		SET re_seq = re_seq + 1 
		WHERE re_ref = #{reRef} 
		AND re_seq = #{reSeq}
	</update>
	
	<select id="getBoardAndAttachfilesByNum" resultMap="boardAndAttachfiles">
		SELECT b.num, b.name, b.passwd, b.subject, b.content, b.readcount, b.ip, b.reg_date, b.re_ref, b.re_lev, b.re_seq, b.boardtype, a.* 
		FROM board b LEFT OUTER JOIN attachfile a 
		ON b.num = a.bno 
		WHERE b.num = #{num} 
	</select>
	
	<resultMap type="boardVo" id="boardAndAttachfiles">
		<id column="num" property="num" /> 
		<result column="name" property="name" />
		<result column="passwd" property="passwd"/>
		<result column="subject" property="subject"/>
		<result column="content" property="content"/>
		<result column="readcount" property="readcount"/>
		<result column="ip" property="ip"/>
		<result column="reg_date" property="regDate"/>
		<result column="re_ref" property="reRef"/>
		<result column="re_lev" property="reLev"/>
		<result column="re_seq" property="reSeq"/>
		<result column="boardtype" property="boardtype"/>
		<collection property="attachList" ofType="AttachfileVo" >
			<id column="uuid" property="uuid" /> 
			<result column="filename" property="filename"/>
			<result column="uploadpath" property="uploadpath"/>
			<result column="image" property="image"/>
			<result column="bno" property="bno"/>
		</collection>
	</resultMap>
	
	<select id="getBoardOrderByReadcount" resultType="boardVo"> 
		SELECT * 
		FROM board 
		WHERE boardtype = #{boardtype} 
		ORDER BY readcount DESC
		LIMIT 0, #{pageSize}
	</select>
</mapper>